@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply font-black text-7xl uppercase py-2.5;
    line-height: 104%;
    color: #663366;
  }
  h2 {
    @apply font-normal text-5xl uppercase pb-4;
    line-height: 104%;
    color: #663366;
  }
}
